<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-quarter"></div>
      <div class="column is-half">
        <h1 class="title">Please Log in</h1>
        <hr>
        <div class="content">
          <form id="login-form" action="/admin/login" method="post">
            <p class="control">
              <input name="username" class="input" type="text" placeholder="Username">
            </p>
            <p class="control">
              <input name="password" class="input" type="password" placeholder="Password">
            </p>
            <p class="control">
              <button class="button is-primary" type="submit">Log in</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
